body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a { cursor: pointer; }
.fix{
  height : 60vh;
  overflow-x: auto;
  overflow-y: auto;
  margin-top: 5vh;
}
.load{
  margin-left: 5vw;
}
.progress{
  margin-top: 17px;
}
.move{
  margin-left: 30px !important;
}
.fixChart{
  height : 600px;
  overflow-x: auto;
  overflow-y: auto;
  margin-top: 5vh;
}


#view {
  position: relative;
  margin: auto;
  width: 50vw;
}
.center{
  position: relative;
  float: left;
  top: 30vh;
  left: 40vw;
  transform: translate(-50%, -50%);
}
.centerThis{
  position: relative;
  float: left;
  top: 30vh;
  left: 15vw;
  transform: translate(-50%, -50%);
}

/*-- Chart --*/
