body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a { cursor: pointer; }
.fix{
  height : 60vh;
  overflow-x: auto;
  overflow-y: auto;
  margin-top: 5vh;
}
.progress{
  margin-top: 17px;
}
.move{
  margin-left: 30px !important;
}
.fixChart{
  height : 600px;
  overflow-x: auto;
  overflow-y: auto;
  margin-top: 5vh;
}
canvas {
  border: 1px dotted red;
}

.chart-container {
  position: relative;
  margin: auto;
  height: 60vh;
  width: 40vw;
}
.center{
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*-- Chart --*/
